<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <title>User Detail</title>
    <style>
      *{
        font-family: Arial, Helvetica, sans-serif
      }
      div{
        display: flex;
        align-items: center;
        padding: 0.5rem;
      }
      a{
        padding-left: 1rem;
      }
      </style>
  </head>
  <body>
    <h1>{{username}}</h1>
    <ul>
      <div>
        <img src="/images/{{username}}_lg.jpg" />
      </div>
    </ul>
  </body>
</html>